<h1>Beer Tasks</h1>
<alert type="danger" *ngIf="errorMessage">{{ errorMessage }}</alert>
<alert type="info" *ngIf="infoMessage">{{ infoMessage }}</alert>
<div class="pull-right">
  <a [routerLink]="['/beers']" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
  <a [routerLink]="['/task', beerId]" class="btn btn-success">Add new Beer Task</a>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th># <span class="sr-only">ID</span></th>
        <th>Task Duration</th>
        <th>Temperature</th>
        <th>Order</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
        <th>{{ task.taskId }}</th>
        <th>{{ task.time/60000 }} min</th>
        <th>{{ task.temperature }} &#8451;</th>
        <th>{{ task.order }}ª</th>
        <th>
          <a [routerLink]="['/task', task.beerId, task.taskId]" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i><span class="sr-only">Edit Task</span></a>
          <button (click)="deleteTask(task.taskId)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> <span class="sr-only">Delete</span></button>
        </th>
    </tr>
    </tbody>
</table>
