<h1 *ngIf="isNew">Add new Beer</h1>
<h1 *ngIf="!isNew">Editing Beer {{ model.name }}</h1>
<alert type="info" *ngIf="infoMessage">{{ infoMessage }}</alert>
<alert type="danger" *ngIf="errorMessage">{{ errorMessage }}</alert>
<form (ngSubmit)="onSubmit()" #beerForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           name="name"
           class="form-control"
           id="name"
           placeholder="Type a name to your beer"
           maxlength="100"
           required
           [(ngModel)]="model.name" />
  </div>
  <div class="form-group">
    <label id="description">Description</label>
    <input type="text"
           name="description"
           class="form-control"
           id="description"
           placeholder="Type a short description to your beer (optional)"
           maxlength="140"
           [(ngModel)]="model.description"/>
  </div>
  <div class="form-group">
    <label for="recipe">Recipe</label>
    <ckeditor name="recipe"
              [(ngModel)]="model.recipe"></ckeditor>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="visible"
             id="visible"
             [(ngModel)]="model.visible"> Public beer recipe
    </label>
    <div class="help-block">If checked all users can see this beer recipe.</div>
  </div>
  <a [routerLink]="['/beers']" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
  <button type="submit"
          class="btn btn-default"
          [disabled]="!beerForm.form.valid">
    Submit
  </button>
</form>
