<h1>Beerinos</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Identifier</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beerino of beerinos">
        <td>{{ beerino.name }}</td>
        <td>{{ beerino.identifier }}</td>
        <td>
            <a [routerLink]="['tasks', beerino.identifier]" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-list-alt"></i> <span class="sr-only">List Tasks</span></a>
            <a class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> <span class="sr-only">Delete</span></a>
        </td>
    </tr>
    </tbody>
</table>