<div class="jumbotron">
  <h1>Brewing Temperature Control</h1>
  <p class="lead">
    Equipamento fundamental para fabrica&ccedil;&atilde;o de cerveja caseira.
    Auxilia no controle da fermenta&ccedil;&atilde;o e matura&ccedil;&atilde;o deixando sua geladeira ou freezer com a temperatura sempre no recomendado pelas receitas.
  </p>
</div>

<div class="row">
  <img src="//beerino-com-br.umbler.net/Imagens/ceva.jpg" class="img-responsive" alt="Responsive image">
</div>
<hr />
<footer>
  <p>&copy; 2017 - Beerino</p>
</footer>
