<h1>Cervejas</h1>
<div class="pull-right">
  <a [routerLink]="['/beer']" class="btn btn-success">Add new Beerino</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th># <span class="sr-only">ID</span></th>
      <th>Name</th>
      <th>Description</th>
      <th>Visibility</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let beer of beers">
    <td>{{ beer.beerId }}</td>
    <td>{{ beer.name }}</td>
    <td>{{ beer.description }}</td>
    <td>{{ beer.visible.data[0] == 1 ? 'Public' : 'Private' }}</td>
    <td>
      <a class="btn btn-default btn-xs" (click)="lgModal.show()" ><span class="glyphicon glyphicon-grain"></span><span class="sr-only">Show beer recipe</span></a>
      <a class="btn btn-default btn-xs" [routerLink]="['/tasks', beer.beerId]"><span class="glyphicon glyphicon-list-alt"></span><span class="sr-only">Show beer tasks</span></a>
      <a *ngIf="beer.userId == sysUserId" [routerLink]="['/beer', beer.beerId]" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i> <span class="sr-only">Edit Beer</span></a>
      <a *ngIf="beer.userId == sysUserId" class="btn btn-danger btn-xs" (click)="deleteBeer(beer.beerId)"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Delete beer</span></a>

      <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{ beer.name }} <small>Recipe</small></h4>
            </div>
            <div class="modal-body" [innerHTML]="beer.recipe">
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
